body {
  padding-top: 5rem;
  background-image: url("https://tr-images.condecdn.net/image/wwMKkZdbq6R/crop/2040/f/rumpus-room-mondrian-hotel-london-cnt-11apr18-pr.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }


.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  font-weight: 1000;
  font-style: normal;
  color: white;
  font:'raleway', sans-serif;
  letter-spacing: 0.15em;
  font-size: 30px;

}

.hero-image {

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  align-items:center;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font:'raleway', sans-serif;
  letter-spacing: 0.15em;
  font-size: 30px;

}

.button {
font-size: 20px;
font:'raleway', 'sans serif';
letter-spacing: 0.15em;
color: black;
font color: white;

}


.
